<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents">
        <div class="display-4 font-weight-bold category-title">지역별 맛집 추천</div>
        <div class="category-container">
            <div th:each="region : ${regionList}">
                <div class="category-list">
                    <a th:href="@{/store/store-list(region=${region.region})}">
                        <img th:src="${region.imagePath}" class="category-image">
                        <p th:text="${region.region}" class="category-text"></p>
                    </a>
                </div>
            </div>
        </div>
    </section>
</th:block>