<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project_250131.menu.mapper.MenuMapper">
    <select id="selectMenuByStoreId" parameterType="int">
        SELECT
            `id`
            ,`storeId`
            ,`imagePath`
            ,`name`
            ,`price`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `menu`
        WHERE
            `storeId` = #{storeId}
        LIMIT 1
    </select>

    <select id="selectMenuListByStoreId" parameterType="int">
        SELECT
            `id`
            ,`storeId`
            ,`imagePath`
            ,`name`
            ,`price`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `menu`
        WHERE
            `storeId` = #{storeId}
    </select>

    <select id="selectMenuById" parameterType="int">
        SELECT
            `id`
            ,`storeId`
            ,`imagePath`
            ,`name`
            ,`price`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `menu`
        WHERE
            `id` = #{id}
    </select>

    <insert id="insertMenu" parameterType="map">
        INSERT INTO `menu`
        (
            `storeId`
            , `imagePath`
            , `name`
            , `price`
        )
        VALUES
        (
            #{storeId}
            , #{imagePath}
            , #{name}
            , #{price}
        )
    </insert>

    <delete id="deleteMenu" parameterType="int">
        DELETE FROM `menu`
        WHERE
            `id` = #{id}
    </delete>
</mapper>