<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project_250131.review.mapper.ReviewMapper">
    <select id="selectReviewPointByStoreId" parameterType="int">
        SELECT
            AVG(point)
        FROM
            `review`
        WHERE
            `storeId` = #{storeId}
    </select>
    <select id="selectReviewListByStoreId" parameterType="int">
        SELECT
            `id`
            ,`storeId`
            ,`userId`
            ,`imagePath`
            ,`point`
            ,`content`
            ,`createdAt`
            ,`updatedAt`
        FROM
            `review`
        WHERE
            `storeId` = #{storeId}
    </select>
</mapper>