<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div id="findBox" class="mt-5">
            <div class="m-5">
                <h2 class="d-flex justify-content-center pt-3">비밀번호 찾기</h2>
                <div id="findPassword">
                    <div class="form-group">
                        <label for="loginId">아이디</label>
                        <input type="text" id="loginId" name="loginId" class="form-control" placeholder="아이디를 입력하세요.">
                    </div>
                    <div class="form-group">
                        <label for="email">이메일</label>
                        <div class="d-flex">
                            <input type="text" id="email" name="email" class="form-control" placeholder="이메일을 입력하세요.">
                            <button type="button" class="btn emailCheckBtn" id="emailCheckBtn">전송</button>
                        </div>
                        <div id="sendPasscode" class="text-success d-none"><small>인증번호가 발송되었습니다.</small></div>
                        <div id="checkLoginIdEmail" class="text-danger d-none"><small>아이디와 이메일을 다시 확인해주세요.</small></div>
                    </div>
                    <div class="form-group">
                        <label for="passcode">인증번호</label>
                        <div class="d-flex">
                            <input type="text" id="passcode" name="passcode" class="form-control" placeholder="인증번호를 입력하세요.">
                            <button type="button" class="btn passcodeCheckBtn" id="passcodeCheckBtn">확인</button>
                        </div>
                        <div id="comparePasscode" class="d-none"></div>
                        <div id="passcodeFail" class="text-danger d-none"><small>인증번호가 일치하지 않습니다.</small></div>
                        <div id="passcodeOk" class="text-success d-none"><small>인증번호가 일치합니다.</small></div>
                    </div>
                    <button type="button" id="findPasswordBtn" class="btn sign-in-btn w-100 mt-3">확인</button>
                </div>

                <!-- 비밀번호 변경 -->
                <div id="passwordChange" class="d-none mt-3">
                    <div class="form-group">
                        <label for="password">새로운 비밀번호</label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="새로운 비밀번호를 입력하세요.">
                    </div>
                    <div class="form-group">
                        <label for="passwordCheck">새로운 비밀번호 확인</label>
                        <input type="password" class="form-control" id="passwordCheck" placeholder="새로운 비밀번호를 입력하세요.">
                    </div>
                    <button type="button" id="passwordChangeBtn" class="btn sign-in-btn w-100 mt-3">변경하기</button>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            // 이메일 전송
            $("#emailCheckBtn").on("click", function() {
                let loginId = $("#loginId").val().trim();
                let email = $("#email").val().trim();

                // validation
                if (!loginId) {
                    alert("아이디를 입력해주세요.");
                    return;
                }

                if (!email) {
                    alert("이메일을 입력해주세요.");
                    return;
                }

                $.ajax({
                    // request
                    type:"post"
                    , url:"/user/find-password"
                    , data:{"loginId":loginId, "email":email}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            $.ajax({
                                // request
                                url:"/user/send-passcode"
                                , data:{"email":email}

                                // response
                                , success:function(data) {
                                    if (data.code == 200) {
                                        $("#sendPasscode").removeClass("d-none");
                                        $("#checkLoginIdEmail").addClass("d-none");
                                        $("#comparePasscode").attr("data-login-id", loginId);
                                        $("#comparePasscode").attr("data-email", email);
                                    } else {
                                        alert("인증번호 발송에 실패했습니다.");
                                    }
                                }
                            });
                        } else if (data.code == 300) {
                            $("#checkLoginIdEmail").removeClass("d-none");
                            $("#sendPasscode").addClass("d-none");
                        }
                    }
                    , error:function(e) {
                        alert("실패하였습니다.");
                    }
                });
            });

            // 인증번호 검사
            $("#passcodeCheckBtn").on("click", function() {
                let passcode = $("#passcode").val().trim();

                let loginId = $("#loginId").val().trim();
                let email = $("#email").val().trim();

                if (!passcode) {
                    alert("인증번호를 입력하세요.");
                    return;
                }

                if (!loginId || !email) {
                    alert("이메일 전송을 해주세요.");
                    return;
                }

                $.ajax({
                    // request
                    type:"post"
                    , url:"/user/check-passcode"
                    , data:{"passcode":passcode}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            $("#passcodeOk").removeClass("d-none");
                            $("#passcodeFail").addClass("d-none");
                        } else if (data.code == 500) {
                            $("#passcodeOk").addClass("d-none");
                            $("#passcodeFail").removeClass("d-none");
                        }
                    }
                    , error:function(e) {
                        alert("인증번호 확인에 실패했습니다. 관리자에게 문의해주세요.");
                    }
                });
            });

            // 인증번호 일치시, 비밀번호 변경
            $("#findPasswordBtn").on("click", function() {
                if ($("#passcodeOk").hasClass("d-none") == false) {
                    $("#findPassword").addClass("d-none");
                    $("#passwordChange").removeClass("d-none");
                } else {
                    alert("이메일 인증을 완료해주세요.");
                    return;
                }
            });

            // 새로운 비밀번호 변경
            $("#passwordChangeBtn").on("click", function() {
                let password = $("#password").val();
                let passwordCheck = $("#passwordCheck").val();
                let loginId = $("#comparePasscode").data("login-id");
                let email = $("#comparePasscode").data("email");

                // validation
                if (!password || !passwordCheck) {
                    alert("비밀번호를 입력하세요.");
                    return;
                }

                if (password != passwordCheck) {
                    alert("비밀번호가 일치하지 않습니다.");
                    return;
                }

                $.ajax({
                    // request
                    type:"patch"
                    , url:"/user/change-password"
                    , data:{"loginId":loginId, "email":email, "password":password}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            alert("새로운 비밀번호가 등록되었습니다.");
                            location.href = "/user/sign-in";
                        } else {
                            alert(data.error_message);
                        }
                    }
                    , error:function(e) {
                        alert("새로운 비밀번호 등록에 실패했습니다. 관리자에게 문의해주세요.");
                    }
                });
            });
        });
    </script>
</th:block>