<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div id="signInBox" class="mt-5">
            <div class="m-5">
                <h3 class="mb-5">로그인</h3>
                <form id="loginForm" method="post" action="/user/sign-in">
                    <input type="text" class="form-control mb-2" name="loginId" id="loginId" placeholder="아이디를 입력하세요.">
                    <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호를 입력하세요.">
                    <div class="d-flex mt-4">
                        <a href="/user/sign-up" class="sign-up-view w-50 text-center pt-1">회원가입</a>
                        <button type="submit" class="btn sign-in-btn w-50 ml-1">로그인</button>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="/user/naver-login" class="naver-login">
                            <img src="https://static.nid.naver.com/oauth/small_g_in.PNG" alt="네이버 로그인" width="100">
                        </a>
                    </div>
                    <div class="d-flex justify-content-center mt-4">
                        <a href="/user/find-loginId" class="text-secondary border-bottom mr-4">아이디 찾기</a>
                        <a href="/user/find-password" class="text-secondary border-bottom">비밀번호 찾기</a>
                    </div>
                </form>
            </div>
        </div>
    </section>

    <script>
        $(function () {
            // 로그인
            $("#loginForm").on("submit", function(e) {
                e.preventDefault();

                let loginId = $("#loginId").val().trim();
                let password = $("#password").val();

                // validation
                if (!loginId) {
                    alert("아이디를 입력해주세요.");
                    return false;
                }

                if (!password) {
                    alert("비밀번호를 입력해주세요.");
                    return false;
                }

                let url = $(this).attr("action");
                let params = $(this).serialize();

                // ajax
                $.post(url, params)
                .done(function(data) {
                    if (data.code == 200) {
                        location.href = "/store/user-store-list";
                    } else {
                        alert(data.error_message);
                    }
                });
            });

        });
    </script>
</th:block>