<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents">
        <div class="search-box">
            <h2 class="my-4">맛집 검색</h2>
            <div class="d-flex">
                <select id="searchType" class="form-control w-25 mr-1">
                    <option value="region">지역</option>
                    <option value="continent">대륙</option>
                </select>
                <input type="text" id="keyword" class="form-control">
                <button type="button" id="searchBtn" class="btn">검색</button>
            </div>
        </div>
        <div class="store-list">
            <!-- 지역 -->
            <div th:if="${storeRegionList} != null">
                <div th:text="'&quot;' + ${region} + '&quot;'" class="keyword"></div>
                <div class="d-flex justify-content-between align-items-end">
                    <div th:text="|검색결과 ${storeRegionCount}개|"></div>
                    <div class="d-flex">
                        <select class="form-control mr-2">
                            <option>전체</option>
                            <span th:each="continent : ${continentList}">
                                <option th:text="${continent.continent}"></option>
                            </span>
                        </select>
                        <select class="form-control">
                            <option>기본순</option>
                            <option>별점순</option>
                            <option>리뷰순</option>
                        </select>
                    </div>
                </div>
                <div th:each="storeList : ${storeRegionList}" class="store-box mt-3">
                    <a th:href="|/store/store-detail?storeId=${storeList.store.id}|">
                        <div th:if="${storeList.menuImage} != null">
                            <img th:src="${storeList.menuImage}">
                        </div>
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-end">
                                    <div th:text="${storeList.store.storeName}" class="store-name"></div>
                                    <div>
                                        별점
                                    </div>
                                    <div th:text="|${storeList.reviewAverage}점|"></div>
                                </div>
                                <div th:if="${session.userId} != null" class="mr-3">
                                    <div th:if="${storeList.bookmark} == true"><img src="/img/full-heart.png" width="25"></div>
                                    <div th:if="${storeList.bookmark} == false"><img src="/img/empty-heart.png" width="25"></div>
                                </div>
                            </div>
                            <div th:text="${storeList.store.continent}" class="store-continent"></div>
                            <div th:text="${storeList.store.roadAddress}" class="store-address"></div>
                        </div>
                    </a>
                </div>
                <!-- 페이징 -->
                <div class="pagination" th:if="${storeRegionCount} != 0">
                    <ul>
                        <!-- 이전 페이지 -->
                        <li th:if="${startPage > 1}">
                            <a th:href="@{/store/search-list(region=${region}, page=${startPage - 1})}">이전</a>
                        </li>

                        <!-- 페이지 번호 출력 (1 ~ pagesToShow) -->
                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a th:href="@{/store/search-list(region=${region}, page=${i})}" th:text="${i}"></a>
                        </li>

                        <!-- 다음 버튼 -->
                        <li th:if="${endPage < totalPages}">
                            <a th:href="@{/store/search-list(region=${region}, page=${endPage + 1})}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- 대륙 -->
            <div th:if="${storeContinentList} != null">
                <div th:text="'&quot;' + ${continent} + '&quot;'" class="keyword"></div>
                <div class="d-flex justify-content-between align-items-end">
                    <div th:text="|검색결과 ${storeContinentCount}개|"></div>
                    <div class="d-flex">
                        <select class="form-control mr-2">
                            <option>전체</option>
                            <span th:each="region : ${regionList}">
                                <option th:text="${region.region}"></option>
                            </span>
                        </select>
                        <select class="form-control">
                            <option>기본순</option>
                            <option>별점순</option>
                            <option>리뷰순</option>
                        </select>
                    </div>
                </div>
                <div th:each="storeList : ${storeContinentList}" class="store-box mt-3">
                    <a th:href="|/store/store-detail?storeId=${storeList.store.id}|">
                        <div th:if="${storeList.menuImage} != null">
                            <img th:src="${storeList.menuImage}">
                        </div>
                        <div>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-end">
                                    <div th:text="${storeList.store.storeName}" class="store-name"></div>
                                    <div>
                                        별점
                                    </div>
                                    <div th:text="|${storeList.reviewAverage}점|"></div>
                                </div>
                                <div th:if="${session.userId} != null" class="mr-3">
                                    <div th:if="${storeList.bookmark} == true"><img src="/img/full-heart.png" width="25"></div>
                                    <div th:if="${storeList.bookmark} == false"><img src="/img/empty-heart.png" width="25"></div>
                                </div>
                            </div>
                            <div th:text="${storeList.store.continent}" class="store-continent"></div>
                            <div th:text="${storeList.store.roadAddress}" class="store-address"></div>
                        </div>
                    </a>
                </div>
                <!-- 페이징 -->
                <div class="pagination" th:if="${storeContinentCount} != 0">
                    <ul>
                        <!-- 이전 페이지 -->
                        <li th:if="${startPage > 1}">
                            <a th:href="@{/store/search-list(continent=${continent}, page=${startPage - 1})}">이전</a>
                        </li>

                        <!-- 페이지 번호 출력 (1 ~ pagesToShow) -->
                        <li th:each="i : ${#numbers.sequence(startPage, endPage)}"
                            th:classappend="${i == currentPage} ? 'active'">
                            <a th:href="@{/store/search-list(continent=${continent}, page=${i})}" th:text="${i}"></a>
                        </li>

                        <!-- 다음 버튼 -->
                        <li th:if="${endPage < totalPages}">
                            <a th:href="@{/store/search-list(continent=${continent}, page=${endPage + 1})}">다음</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            $("#searchBtn").on("click", function() {
                let searchType = $("#searchType").val();
                let keyword = $("#keyword").val().trim();

                if (!keyword) {
                    alert("검색어를 입력해주세요.");
                    return;
                }

                if (searchType == "region") {
                    location.href = `/store/search-list?region=${keyword}`;
                } else if (searchType == "continent") {
                    location.href = `/store/search-list?continent=${keyword}`;
                }

            });
        });
    </script>
</th:block>