<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents">
        <div class="store-detail-box" th:each="storeList : ${storeList}" th:data-store-id="${storeList.store.id}">
            <div id="storeImages" class="carousel slide mt-1" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item" th:each="menu, status : ${storeList.menuList}" th:classappend="${status.index == 0} ? 'active'">
                        <img th:src="${menu.imagePath}" class="d-block w-100" alt="메뉴 사진" height="500">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-target="#storeImages" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-target="#storeImages" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </button>
            </div>
            <div class="display-4 mt-3" th:text="${storeList.store.storeName}"></div>
            <div class="store-detail d-flex justify-content-between align-items-end mb-3">
                <div class="d-flex align-items-end">
                    <div th:text="${storeList.store.continent}" class="mr-3"></div>
                    <div id="reviewAverage" class="mr-2" th:data-review-average="${storeList.reviewAverage}">
                        <span class="star1">★</span>
                        <span class="star2">★</span>
                        <span class="star3">★</span>
                        <span class="star4">★</span>
                        <span class="star5">★</span>
                    </div>
                    <div th:text="|${storeList.reviewAverage}점|"></div>
                </div>
                <div th:if="${session.userId} != null" class="mr-3 d-flex">
                    <a href="/bookmark/store"><img th:if="${storeList.bookmark} == true" src="/img/full-heart.png" width="25"></a>
                    <a href="/bookmark/store"><img th:if="${storeList.bookmark} == false" src="/img/empty-heart.png" width="25"></a>
                    <div th:text="${storeList.bookmarkCount}" class="ml-2"></div>
                </div>
                <div th:if="${session.userId} == null" class="d-flex">
                    <a href="/user/sign-in"><img src="/img/empty-heart.png" width="25"></a>
                    <div th:text="${storeList.bookmarkCount}" class="ml-2"></div>
                </div>
            </div>
            <div>
                <button type="button" id="menuBtn" class="btn detail-btn">메뉴</button>
                <button type="button" id="reviewBtn" class="btn detail-btn">리뷰</button>
                <button type="button" id="infoBtn" class="btn detail-btn">정보</button>
            </div>
            <div id="storeDetailAppend" class="my-3"></div>
            <div id="map" class="my-3 d-none" th:data-latitude="${storeList.store.latitude}" th:data-longitude="${storeList.store.longitude}"></div>
        </div>
    </section>

    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=1a7a5602b235f6e23f3ed0512bfa5a12"></script>
    <script>
        let map = null;
        let marker = null;

        window.onload = function() {
            let latitude = parseFloat($("#map").data("latitude"));
            let longitude = parseFloat($("#map").data("longitude"));

            let container = document.getElementById("map");
            let options = {
                center: new kakao.maps.LatLng(latitude, longitude),
                level: 2
            };

            // 지도 생성
            map = new kakao.maps.Map(container, options);

            // 마커 생성
            let markerPosition = new kakao.maps.LatLng(latitude, longitude);
            marker = new kakao.maps.Marker({
                position: markerPosition
            });
        };
    </script>
    <script>
        $(function() {
            // 별점 평점
            let averageStars = document.querySelectorAll("#reviewAverage span");
            let averagePoint = parseInt($("#reviewAverage").data("review-average"), 10);

            if (averageStars.length > 0) {
                averageStars.forEach((star, index) => {
                    if (index < averagePoint) {
                        star.classList.add("active");
                    }
                });
            }

            // 메뉴 버튼
            $("#menuBtn").on("click", function() {
                // 지도 삭제
                $("#map").addClass("d-none");
                marker.setMap(null);

                let storeId = $(".store-detail-box").data("store-id");

                $.ajax({
                    // request
                    url:"/store/store-detail-menu"
                    ,data: {"storeId":storeId}

                    // response
                    ,success:function(data) {
                        $("#menuBtn").removeClass("detail-btn");
                        $("#menuBtn").addClass("detail-on-btn");
                        $("#reviewBtn").removeClass("detail-on-btn");
                        $("#reviewBtn").addClass("detail-btn");
                        $("#infoBtn").removeClass("detail-on-btn");
                        $("#infoBtn").addClass("detail-btn");
                        $("#storeDetailAppend").html(data);
                    }
                });
            });

            // 리뷰 버튼
            $("#reviewBtn").on("click", function() {
                // 지도 삭제
                $("#map").addClass("d-none");
                marker.setMap(null);

                // 별점
                setTimeout(() => {
                    let ratedStars = document.querySelectorAll(".rated-star");

                    ratedStars.forEach((ratedStar) => {
                        let stars = ratedStar.querySelectorAll("span");
                        let point = parseInt(ratedStar.dataset.reviewPoint);

                        if (stars.length > 0) {
                            stars.forEach((star, index) => {
                                if (index < point) {
                                    star.classList.add("active");
                                } else {
                                    star.classList.remove("active");
                                }
                            });
                        }
                    });
                }, 100);

                let storeId = $(".store-detail-box").data("store-id");

                $.ajax({
                    // request
                    url:"/store/store-detail-review"
                    ,data: {"storeId":storeId}

                    // response
                    ,success:function(data) {
                        $("#reviewBtn").removeClass("detail-btn");
                        $("#reviewBtn").addClass("detail-on-btn");
                        $("#menuBtn").removeClass("detail-on-btn");
                        $("#menuBtn").addClass("detail-btn");
                        $("#infoBtn").removeClass("detail-on-btn");
                        $("#infoBtn").addClass("detail-btn");
                        $("#storeDetailAppend").html(data);
                    }
                });
            });

            // 정보 버튼
            $("#infoBtn").on("click", function() {
                $("#map").removeClass("d-none");

                setTimeout(() => {
                    map.relayout();
                    map.setCenter(marker.getPosition()); // 중심 재설정
                    marker.setMap(map);
                }, 100);

                let storeId = $(".store-detail-box").data("store-id");

                $.ajax({
                    // request
                    url:"/store/store-detail-info"
                    ,data: {"storeId":storeId}

                    // response
                    ,success:function(data) {
                        $("#infoBtn").removeClass("detail-btn");
                        $("#infoBtn").addClass("detail-on-btn");
                        $("#menuBtn").removeClass("detail-on-btn");
                        $("#menuBtn").addClass("detail-btn");
                        $("#reviewBtn").removeClass("detail-on-btn");
                        $("#reviewBtn").addClass("detail-btn");
                        $("#storeDetailAppend").html(data);
                    }
                });
            });

            // 이미지의 a 태그 클릭 => file 동작
            $(document).on("click", "#fileUploadBtn", function(e) {
                e.preventDefault();
                $("#file").click();
            });

            // 파일이 선택될 때
            $(document).on("change", "#file", function(e) {
                // 취소 누를 때 처리
                if (e.target.files[0] == null) {
                    $("#file").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
                    $("#fileName").text(""); // 보이는 파일명 초기화
                    return;
                }

                // 업로드 된 파일명만
                let fileName = e.target.files[0].name;

                // 1) 유효성 체크
                let ext = fileName.split(".").pop().toLowerCase();
                if (ext != "gif" && ext != "jpg" && ext != "png") {
                    alert("이미지 파일만 업로드 할 수 있습니다.");
                    $("#file").val(""); // 보이진 않지만 파일 태그에 올라온 것 제거
                    $("#fileName").text(""); // 보이는 파일명 초기화
                    return;
                }

                $("#fileName").text(fileName);
            });

            // 리뷰 작성
            $(document).on("click", "#addReviewBtn", function() {
                let storeId = $(".store-detail-box").data("store-id");
                let content = $("#reviewContent").val();

                // 별점 가져오기
                let selectedStar = document.querySelector("#starPoint input:checked");
                let point = 0;
                if (!selectedStar) {
                    alert("별점을 선택해주세요.");
                    return;
                } else {
                    point = selectedStar.value;
                }

                // 파일 존재 여부
                let fileData = null;
                if ($("#file").length > 0 && $("#file")[0].files.length > 0) {
                    let fileName = $("#file").val();
                    let extension = fileName.split(".").pop().toLowerCase();
                    if ($("#file").length != 0 && $.inArray(extension, ["jpg", "png", "gif"]) == -1) {
                        alert("이미지 파일만 업로드할 수 있습니다.");
                        $("#file").val(""); // 파일을 비운다.
                        $("#fileName").text(""); // 보이는 파일명도 초기화
                        return;
                    }

                    fileData = $("#file")[0].files[0];
                }

                // 폼태그 만들기
                let formData = new FormData();
                formData.append("storeId", storeId);
                formData.append("point", point);
                if (content) {
                    formData.append("content", content);
                }
                if (fileData) {
                    formData.append("file", fileData);
                }

                $.ajax({
                    // request
                    type: "post"
                    , url: "/review/create"
                    , data: formData
                    , processData: false // 파일 업로드를 위한 필수 설정
                    , contentType: false // 파일 업로드를 위한 필수 설정
                    , enctype: "multipart/form-data" // 파일 업로드를 위한 필수 설정

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            alert("리뷰 작성이 완료되었습니다.");
                            location.reload();
                        } else if (data.code = 403) {
                            alert(data.error_message);
                            location.href = "/user/sign-in";
                        } else {
                            alert(data.error_message);
                        }
                    }
                    , error:function(e) {
                        alert("리뷰를 작성하는데 실패했습니다. 관리자에게 문의해주세요.");
                    }
                });
            });

            $(document).on("click", ".deleteReviewBtn", function(e)  {
                e.preventDefault();
                let reviewId = $(".deleteReviewBtn").data("review-id");

                $.ajax({
                    // request
                    type:"delete"
                    , url:"/review/delete"
                    , data:{"reviewId":reviewId}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            alert("리뷰가 삭제되었습니다.");
                            location.reload();
                        } else if (data.code == 403) {
                            alert(data.error_message);
                            location.href = "/user/sign-in";
                        } else {
                            alert(data.error_message);
                        }
                    }
                    , error:function(e) {
                        alert("리뷰를 삭제하는데 실패했습니다. 관리자에게 문의해주세요.");
                    }
                });
            });
        });
    </script>
</th:block>