<!-- 리뷰 추가 -->
<div id="writeReview" th:if="${session.userId} != null">
    <!-- 별점 -->
    <fieldset id="starPoint" class="d-flex justify-content-start align-items-center">
        <span class="text-bold mr-2">별점을 선택해주세요</span>
        <div class="star-rating">
            <input type="radio" value="5" id="rate5"><label for="rate5">★</label>
            <input type="radio" value="4" id="rate4"><label for="rate4">★</label>
            <input type="radio" value="3" id="rate3"><label for="rate3">★</label>
            <input type="radio" value="2" id="rate2"><label for="rate2">★</label>
            <input type="radio" value="1" id="rate1"><label for="rate1">★</label>
        </div>
    </fieldset>
    <!-- 리뷰 내용, 사진 -->
    <div id="addReviewBox">
        <textarea id="reviewContent" placeholder="리뷰를 작성해주세요." class="w-100" rows="4"></textarea>
        <div class="d-flex justify-content-between mx-2">
            <div class="d-flex">
                <!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. -->
                <input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">

                <!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 -->
                <a href="#" id="fileUploadBtn"><img width="35" src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-image-512.png"></a>
                <div id="fileName" class="ml-2"></div>
            </div>
            <button type="button" id="addReviewBtn" class="btn mb-1">작성</button>
        </div>
    </div>
</div>
<!-- 리뷰 리스트 -->
<div th:each="review : ${storeList.reviewList}" class="review-box my-2">
    <div class="d-flex m-2">
        <img th:if="${review.imagePath} != null" th:src="${review.imagePath}" width="80" height="80">
        <div class="w-100 ml-2">
            <div class="d-flex justify-content-between">
                <div class="d-flex align-items-center">
                    <h4 th:text="${review.userName}"></h4>
                    <span th:text="|${review.point}점|" class="ml-2"></span>
                </div>
                <a href="#" th:if="${session.userId} == ${review.userId}" class="deleteReviewBtn mr-3" th:data-review-id="${review.id}">
                    <img src="/img/x-icon.png" width="20" height="20">
                </a>
            </div>
            <div th:text="${review.content}" class="mt-3"></div>
        </div>
    </div>
</div>