<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center">
        <div class="store-list">
            <div class="display-4 my-3">최근 방문한 맛집 목록</div>
            <div class="d-flex justify-content-between align-items-end">
                <div th:text="|검색결과 ${storeCount}개|"></div>
                <select class="form-control w-25">
                    <option>기본순</option>
                    <option>별점순</option>
                    <option>리뷰순</option>
                </select>
            </div>
            <div th:each="storeList : ${storeList}" class="store-box mt-3" th:if="${storeList} != null">
                <a th:href="|/store/store-detail?storeId=${storeList.store.id}|">
                    <div class="d-flex m-2">
                        <div th:if="${storeList.menuImage} != null">
                            <img th:src="${storeList.menuImage}" width="130" height="130">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-end">
                                    <div th:text="${storeList.store.storeName}" class="store-name"></div>
                                    <div class="rated-star ml-2 mb-1" th:data-review-average="${storeList.reviewAverage}">
                                        <span class="star1">★</span>
                                        <span class="star2">★</span>
                                        <span class="star3">★</span>
                                        <span class="star4">★</span>
                                        <span class="star5">★</span>
                                    </div>
                                    <div class="mb-2 ml-2" th:text="|${storeList.reviewAverage}점|"></div>
                                </div>
                                <div th:if="${session.userId} != null" class="mr-3 d-flex justify-content-end">
                                    <a href="#" class="bookmarkBtn" th:data-store-id="${storeList.store.id}"><img th:if="${storeList.bookmark} == true" src="/img/full-heart.png" width="25"></a>
                                    <a href="#" class="bookmarkBtn" th:data-store-id="${storeList.store.id}"><img th:if="${storeList.bookmark} == false" src="/img/empty-heart.png" width="25"></a>
                                </div>
                            </div>
                            <div th:text="${storeList.store.continent}" class="store-continent"></div>
                            <div th:text="${storeList.store.roadAddress}" class="store-address"></div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- 페이징 -->
            <div class="pagination" th:if="${storeCount} != 0">
                <ul>
                    <!-- 이전 페이지 -->
                    <li th:if="${storeListPage.startPage > 1}">
                        <a th:href="@{/store/visit-store-list(page=${storeListPage.startPage - 1})}">이전</a>
                    </li>

                    <!-- 페이지 번호 출력 (1 ~ pagesToShow) -->
                    <li th:each="i : ${#numbers.sequence(storeListPage.startPage, storeListPage.endPage)}"
                        th:classappend="${i == currentPage} ? 'active'">
                        <a th:href="@{/store/visit-store-list(page=${i})}" th:text="${i}"></a>
                    </li>

                    <!-- 다음 버튼 -->
                    <li th:if="${storeListPage.endPage < storeListPage.totalPages}">
                        <a th:href="@{/store/visit-store-list(page=${storeListPage.endPage + 1})}">다음</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <script>
        $(function() {
            // 별점
            let ratedStars = document.querySelectorAll(".rated-star");
            ratedStars.forEach((ratedStar) => {
                let stars = ratedStar.querySelectorAll("span");
                let point = parseInt(ratedStar.dataset.reviewAverage, 10);

                if (stars.length > 0) {
                    stars.forEach((star, index) => {
                        if (index < point) {
                            star.classList.add("active");
                        } else {
                            star.classList.remove("active");
                        }
                    });
                }
            });

            // 북마크
            $(".bookmarkBtn").on("click", function(e) {
                e.preventDefault();
                let storeId = $(this).data("store-id");
                console.log(storeId);

                $.ajax({
                    // request
                    type:"post"
                    , url:"/bookmark/store"
                    , data:{"storeId":storeId}

                    // response
                    , success:function(data) {
                        if (data.code == 200) {
                            location.reload();
                        } else if (data.code == 403) {
                            alert(data.error_message);
                            location.href = "/user/sign-in";
                        } else {
                            alert(data.error_message);
                        }
                    }
                    ,error:function(e) {
                        alert("북마크하는데 실패했습니다. 관리자에게 문의해주세요.");
                    }
                });
            });
        });
    </script>
</th:block>