<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
  <header>
    <div class="main-bar d-flex justify-content-between align-items-center p-5">
      <h1 class="font-weight-bold"><a href="/store/user-store-list">맛집랭킹</a></h1>
      <div class="d-flex align-items-end">
        <div class="font-weight-bold">
          <span class="mx-3"><a href="/region/region-list">지역별</a></span>
          <span class="mx-3"><a href="/continent/continent-list">대륙별</a></span>
          <span class="mx-3"><a href="/store/search-list">맛집검색</a></span>
        </div>
        <div class="dropdown">
          <button class="drop">
            <a th:if="${session.userId} == null" href="/user/sign-in"><img src="/img/profile.png" width="40"></a>
            <img th:if="${session.userId} != null" src="/img/profile.png" width="40">
          </button>
          <div class="drop-options" th:if="${session.userId} != null">
            <a href="/store/regular-store-list">내 단골 맛집</a>
            <a href="/store/visit-store-list">최근 방문한 가게</a>
            <a href="/store/bookmark-store-list">즐겨찾기 맛집</a>
            <a href="/user/edit-profile">정보 수정</a>
            <a href="/user/sign-out">로그아웃</a>
          </div>
        </div>
      </div>
    </div>
  </header>
</th:block>