a, a:hover {
    color:black;
    text-decoration:none;
}

.store-list {
    width:1000px;
    margin: auto;
}

.store-box {
    border: solid, 2px;
    border-radius: 12px;
    border-color: #88DC9B;
}

.main-bar {
    height: 100px;
    background-color: #88DC9B;
}

#signInBox, #signUpBox, #findBox {
    min-width: 600px;
    min-height: 400px;
    border: solid, 2px;
    border-radius: 12px;
    border-color: #88DC9B;
}

.sign-up-view {
    border: solid, 2px;
    border-radius: 12px;
    border-color: #88DC9B;
}

.sign-in-btn {
    border: solid, 2px;
    border-radius: 12px;
    border-color: #88DC9B;
    background: #88DC9B;
}

.sign-up-btn {
    width: 200px;
    border: solid, 2px;
    border-radius: 12px;
    border-color: #88DC9B;
    background: #88DC9B;
}

.loginIdCheckBtn, .passwordCheckBtn, .emailCheckBtn, .passcodeCheckBtn {
    background-color: #88DC9B;
    white-space: nowrap;
}

.input-group-text {
    width: 100px;
    text-align: center;
}

.category-title {
    margin-left: 135px;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-right: 50px;
}

.category-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
    margin-left: 135px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.category-list {
    position: relative;
    width: 400px;
    height: 170px;
    border: solid 2px;
    border-radius:12px;
    border-color: black;
}


.category-list:hover {
    border: solid 4px;
    border-radius: 12px;
    border-color: black;
}

.category-image {
    opacity: 0.5;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

.category-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
    margin-bottom: 3px;
}

.search-box {
    width:1000px;
    margin: auto;
}

#searchBtn {
    background-color: #88DC9B;
    white-space: nowrap;
}

.store-name {
    font-weight: bold;
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}

.store-continent {
    margin-left: 10px;
    margin-top: 10px;
}

.store-address {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.keyword {
    font-size: 30px;
    margin-top: 10px;
}

.store-detail-box {
    width:1000px;
    margin: auto;
}

.detail-btn {
    border: solid 1px;
    border-color: #88DC9B;
    border-radius: 12px;
}

.detail-on-btn {
    border: solid 1px;
    border-color: #88DC9B;
    border-radius: 12px;
    background-color: #88DC9B;
}

.admin-btn {
    border: solid 1px;
    border-color: #E4A11B;
    border-radius: 12px;
}

.admin-on-btn {
    border: solid 1px;
    border-color: #E4A11B;
    border-radius: 12px;
    background-color: #E4A11B;
}

#addStoreBox {
    min-width: 800px;
    min-height: 400px;
    border: solid, 2px;
    border-radius: 12px;
    border-color: #E4A11B;
}

.menu-box {
    border: solid, 1px;
    border-color: #88DC9B;
    border-radius: 12px;
    height: 100px;
}

#addMenuBox {
    border: solid, 1px;
    border-color: #E4A11B;
    border-radius: 12px;
    min-height: 100px;
}

/* dropdown */

.dropdown {
    position: relative;
    display: in-block;
}

.drop {
    width: 150px;
    border: none;
    background-color: #88DC9B;
    cursor: pointer;
}

.drop-options {
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .drop-options {
    display:block;
}

.drop-options a {
    color:black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.drop-options a:hover {
    background-color:lightgray;
}

/* paging */

.pagination {
    margin-top: 20px;
    justify-content: center;
}

.pagination ul {
    list-style: none;
    display: flex;
    padding: none;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #333;
}

.pagination .active a {
    background-color: #88DC9B;
    color: white;
    border-color: #88DC9B;
}

.pagination .admin-active a {
    background-color: #E4A11B;
    color: white;
    border-color: #E4A11B;
}